/*За първия срещнат елемент p прилагаме следните характеристики.*/
p:first-of-type {
    color: yellow; /*Цвят на текста - жълт.*/
    background-color: green; /*Цвят на фона - зелен.*/
}

/*За третия срещнат елемент p прилагаме следните характеристики.*/
p:nth-child(3) {
    color: brown; /*Цвят на текста - кафяв.*/
}

/*За всички елементи, поделементи на класа warning, където lang започва с en, прилагаме следното.*/
.warning > *[lang^=en] {
    color: green; /*Цвят на текста - зелен.*/
 }

 /*За класа warning прилагаме следното.*/
.warning {
    color: red; /*Цвят на текста - червен.*/
}

/*За елемента span, поделемент на класа warning, който няма lang, прилагаме следното.*/
.warning > span:not([lang]) {
    background: yellow; /*Цвят на фона - жълт.*/
    color:blue; /*Цвят на текста син.*/
 }

/*За атрибута maincontent прилагаме следните характеристики.*/
#maincontent {
    border: 1px; /*Рамка 1 пиксел.*/
    border-style: solid; /*Рамката е непрекъсната.*/
    border-color: blue; /*Цвят на рамката - син.*/
}

/*За всички елементи с lang, започващ с en, прилагаме следното.*/
*[lang^=en] {
    color: black; /*Цвят на текста - черен.*/
 }

/*За елемента div, който има преди себе си два елемента p, прилагаме следното.*/
p+p+div {
    color: orange; /*Цвят на текста - оранжев.*/
    text-transform: uppercase; /*Променяме текста да е с главни букви.*/
    text-indent: 20px; /*Прилагаме отместване на първия ред на текст с 20 пиксела.*/
}

/*За първата буква на елемента p, който следва след елемента div, прилагаме следното.*/
div+p::first-letter {
     color: orange; /*Цвят на текста - оранжев.*/
     font-size: 34px; /*Големина на шрифт - 34 пиксела.*/
}

/*За първия ред на елемента p, който следва след елемента div, прилагаме следното.*/
 div+p::first-line {
     color: yellow; /*Цвят на текста - жълт.*/
     background-color: green; /*Цвят на фона - зелен.*/
 }
 
 /*За елемента p, който следва след елемент div, прилагаме следното.*/
 div+p {
     color: blue; /*Цвят на текста - син.*/
 }

 /*За елемента span, който следва след елемент p, който пък следва след елемент div, прилагаме следното.*/
 div+p+span {
     color: brown; /*Цвят на текста - кафяв.*/
 }

 /*За елемента code, който следва след елемент div, прилагаме следното.*/
 div+code {
     color: brown; /*Цвят на текста - кафяв.*/
 }

/*За елемент div, който е предшестван от елемент p, прилагаме следното.*/
 p~div {
    color: red; /*Цвят на текста - червен.*/
}

/*За елемент div, който следва след елемент code, прилагаме следното.*/
 code+div {
     color: green; /*Цвят на текста - зелен.*/
 }