/*Прилагаме за всички елементи p следните характеристики.*/
p {
    display: inline; /*Представяне от тип Inline.*/
}

/*Прилагаме за класа boldAndUnderline следните характеристики.*/
.boldAndUnderline {
    font-weight: bold; /*Одебелен текст.*/
    text-decoration: underline; /*Подчертан текст.*/
}

/*Прилагаме за класа picture следните характеристики.*/
.picture {
    width: 310px; /*Широчина на снимката - 310 пиксела.*/
    height: 150px; /*Височина на снимката - 150 пиксела.*/
    border: 6px solid #a0a7c1; /*Рамка на снимката - 6 пиксела, непунктирана и цвят #a0a7c1.*/
    display: inline-block; /*Представяне от тип inline-block.*/
    border-radius: 20px; /*Заобляне на рамката на снимката с 20 пиксела.*/
 }

 /*Прилагаме за атрибута blockSection следните характеристики.*/
 #blockSection
{
   display:block; /*Блоково представяне.*/
}

/*Прилагаме за елемента body следните характеристики.*/
body {
    margin: auto; /*Отстояние автоматично.*/
    width: 650px; /*Широчина 650 пиксела.*/
    background-color: #e8e8e8; /*Цвят на фона.*/
    border: 3px solid #1e64cc; /*Рамка от 3 пиксела, непунктирана и синя.*/
    border-bottom-left-radius: 20px; /*Заобляне на долния ляв ъгъл на рамката с 20 пиксела.*/
    padding: 10px; /*Отстояние на текста 10 пиксела.*/
    border-top-right-radius: 20px; /*Заобляне на горния десен ъгъл на рамката с 20 пиксела.*/
 }

 /*Прилагаме за атрибута text следните характеристики.*/
 #text {
     display: inline-block;
     margin-top: 15px; /*Отстояние от снимките 15 пиксела.*/ 
     padding-left: 5px; /*Отстояние на текста от ляво - 5 пискела.*/
     padding-right: 5px; /*Отстояние на текста от дясно - 5 пискела.*/
     background-color: yellow; /*Цвят на фона - жълт.*/
     border-top: 5px dashed green; /*Правим горната рамка да бъде 5 пиксела, пунктирана и зелена.*/
     border-bottom: 3px solid darkblue; /*Правим долната рамка да бъде 3 пиксела, непрекъсната и тъмносиня.*/
     border-left: 5px double orange; /*Правим лявата рамка да бъде 5 пиксела, двойна и оранжева.*/
     height: 200px; /*Височина на текста 200 пиксела, така че да изглежда по същия начин.*/
     width: 300px; /*Широчина на текста 300 пиксела.*/
     overflow: auto; /*Позволява да се скролва нагоре и надолу в текста.*/
 }