/*Прилагаме за елемента body следните характеристики.*/
body {
    background-color: #FFFF00 /*Променяме цвета на фона на елемента да бъде жълт.*/
}

/*Прилагаме за класа h1 следните характеристики.*/
.h1 {
    color: #008080; /*Променяме цвета на текста.*/
    font-size: 25px; /*Променяме големината на шрифта да е 25 пиксела.*/
    font-family: Arial; /*Променяме шрифта да е Arial.*/
    font-weight: bold; /*Одебеляваме шрифта.*/
}

/*Прилагаме за таблица от клас green следните характеристики.*/
table.green {
    border: 3px; /*Дебелината на рамката да е 3 пиксела.*/
    border-style: solid; /*Рамката да е непрекъсната.*/
    border-color: #111111; /*Цвета на рамката да е черен.*/
    padding: 0px; /*Отстояние от рамката 0 пиксела.*/
    border-spacing: 0px; /*Разстояние между рамките на клетките 0 пиксела.*/
    width: 50%; /*Широчина 50%.*/
    border-collapse: collapse; /*Сливане в една рамка.*/
    background-color: #00ff00; /*Фон на таблицата - зелен.*/
}

/*Прилагаме за елемента td следните характеристики.*/
td {
    width: 50%; /*Широчина 50%.*/
    border-color: #FF0000; /*Цвят на рамката - червен.*/
    border: 3px; /*Дебелина на рамката - 3 пиксела.*/
    border-style : solid; /*Рамката е непрекъсната.*/
}

/*Прилагаме за класа h2 следните характеристики.*/
.h2 {
    color: #008080; /*Цвят на текста #008080.*/
    font-size: 25px; /*Големина на шрифта 25 пиксела.*/
    font-family: Arial; /*Шрифт Arial.*/
    font-weight: bold; /*Одебелен шрифт.*/
}

/*Прилагаме за таблица от клас blue следните характеристики.*/
table.blue {
    background-color: #00ffff; /*Цвят на фона - син.*/
    border: 3px; /*Дебелина на рамката - 3 пиксела.*/
    border-color: #111111; /*Цвят на рамката - черен.*/
    border-style: solid; /*Рамката да е непрекъсната.*/
    padding: 0px; /*Отстояние от рамката 0 пиксела.*/
    border-spacing: 0px; /*Разстояние между рамките на клетките - 0 пиксела.*/
    border-collapse: collapse; /*Сливане в една рамка.*/
    width: 50%; /*Широчина 50%.*/
}

/*Прилагаме за елемента td от клас bold следните характеристики.*/
td.bold {
    font-weight: bold; /*Одебелен шрифт.*/
    text-align: center; /*Централно подравняване на текста.*/
}

/*Прилагаме за елемента td от клас right следните характеристики.*/
td.right {
    text-align: right; /*Подравняваме текста в дясно.*/
}

/*Прилагаме следните характеристики за линковете.*/
a:link {
    color: #00FF00; /*Цвят на текста - зелен.*/
}

/*Прилагаме за клас normalP следните характеристики.*/
.normalP {
    font-family: Arial; /*Шрифт Arial.*/
    color: #996600; /*Цвят #996600.*/
}