/*Прилагаме за елемента rss следните характерисики.*/
rss {
    display: table; /*Изглед - table.*/
    font-family: Tahoma, Arial; /*Шрифт в стиловете Tahoma и Arial.*/
    font-size: 15px; /*Големина на шрифта - 15 пиксела.*/
    background-color: white; /*Цвят на фона - бял.*/
}

/*Прилагаме за всички елементи в channel следните характеристики.*/
channel *{
    display:block; /*Блоково представяне.*/
    background-color: white; /*Цвят на фона - бял.*/
    color: black; /*Цвят на текста - черен.*/
    font-size: 14px; /*Големина на шрифта - 14 пиксела.*/
 }

 /*Прилагаме за всички елементи в textinput следните характеристики.*/
 textinput *{
    display:block; /*Блоково представяне.*/
    background-color: yellow; /*Цвят на фона - жълт.*/
    color: blue; /*Цвят на текста - син.*/
    font-size: 15px; /*Големина на шрифта - 15 пиксела.*/
    text-indent: 20px; /*Прилагаме отместване на първия ред на текст с 20 пиксела.*/
 }

 /*Прилагаме за всеки елемент преди textinput следните характеристики.*/
 textinput::before {
    display:block; /*Блоково представяне.*/
    text-indent: 20px; /*Прилагаме отместване на първия ред на текст с 20 пиксела.*/
    padding-bottom:5px; /*Отместване отдолу - 5 пиксела.*/
    content: "Textinput section: "; /*Добавяне на контент.*/
 }

 /*Прилагаме за елемента item следните характеристики.*/
 item {
    padding-top:10px; /*Отместване отгоре - 10 пиксела.*/
    display:block; /*Блоково представяне.*/
 }

 /*Прилагаме за поделемента title следните характеристики.*/
 item title {
    display:block; /*Блоково представяне.*/
    background-color: white; /*Цвят на фона - бял.*/
    color: black; /*Цвят на текста - черен.*/
    font-size: 12px; /*Големина на шрифта - 12 пиксела.*/
    text-indent: 20px; /*Прилагаме отместване на първия ред на текст с 20 пиксела.*/
 }

 /*Прилагаме за поделемента description следните характеристики.*/
 item description {
    display:block; /*Блоково представяне.*/
    background-color: white; /*Цвят на фона - бял.*/
    color: black; /*Цвят на текста - черен.*/
    font-size: 15px; /*Големина на шрифта - 15 пиксела.*/
    text-indent: 20px; /*Прилагаме отместване на първия ред на текст с 20 пиксела.*/
    margin: 5px; /*Отместване отвън елемента - 5 пиксела.*/
    padding: 5px; /*Отместване от рамката на елемента - 5 пиксела.*/
 }

 /*Прилагаме за поделемента link следните характеристики.*/
 item link {
    display:block; /*Блоково представяне.*/
    background-color: green; /*Цвят на фона - зелен.*/
    color: blue; /*Цвят на текста - син.*/
    margin: 5px; /*Отместване отвън елемента - 5 пиксела.*/
    padding: 5px; /*Отместване от рамката на елемента - 5 пиксела.*/
    font-size: 11px; /*Големина на шрифта - 11 пиксела.*/
    text-indent: 20px; /*Прилагаме отместване на първия ред на текст с 20 пиксела.*/
 }

 /*В зависимост от размера на екрана, при минимална широчина 480 пиксела.*/
 @media screen and (min-width: 480px) {
    /*Прилагаме за поделемента title следните характеристики.*/
    item title {
       display:block; /*Блоково представяне.*/
       background-color: yellow; /*Цвят на фона - жълт.*/
       color: black; /*Цвят на текста - черен.*/
       font-size: 12px; /*Големина на текста - 20 пиксела.*/
       text-indent: 20px; /*Прилагаме отместване на първия ред на текста с 20 пиксела навътре.*/
    }
    /*Прилагаме за поделемента description следните характеристики.*/
    item description {
       display:block; /*Блоково представяне.*/
       background-color: green; /*Цвят на фона - зелен.*/
       color: black; /*Цвят на текста - черен.*/
       font-size: 15px; /*Големина на шрифта - 15 пиксела.*/
       text-indent: 20px; /*Прилагаме отместване на първия ред на текста с 20 пиксела навътре.*/
       margin: 5px; /*Отстояние 5 пиксела отвън елемента.*/
       padding: 5px; /*Отстояние 5 пиксела от текста до рамката на елемнта.*/
    }
    /*Прилагаме за поделемента link следните характеристики.*/
    item link{
       display:block; /*Блоково представяне.*/
       background-color: white; /*Цвят на фона - бял.*/
       color: blue; /*Цвят на текста - син.*/
       margin: 5px; /*Отстояние 5 пиксела отвън елемента.*/
       padding: 5px; /*Отстояние 5 пиксела от текста до рамката на елемента.*/
       font-size: 11px; /*Големина на шрифта - 11 пиксела.*/
       text-indent: 20px; /*Прилагаме отместване на първия ред на текста с 20 пиксела навътре.*/
    }
 }

 /*При принтер.*/
 @media print {
    /*Прилагаме за поделемента title следните характеристики.*/
    item title {
       display:block; /*Блоково представяне.*/
       background-color: pink; /*Цвят на фона - розов.*/
       color: black; /*Цвят на текста - черен.*/
       font-size: 12px; /*Големина на шрифта - 12 пиксела.*/
       text-indent: 20px; /*Прилагаме отместване на първия ред на текста с 20 пиксела навътре.*/
    }
    /*Прилагаме за поделемента description следните характеристики.*/
    item description {
       display:block; /*Блоково представяне.*/
       background-color: purple; /*Цвят на фона - лилав.*/
       color: black; /*Цвят на текста - черен.*/
       font-size: 15px; /*Големина на шрифта - 15 пиксела.*/
       text-indent: 20px; /*Прилагаме отместване на първия ред на текста с 20 пиксела навътре.*/
       margin: 5px; /*Отстояние 5 пиксела отвън елемента.*/
       padding: 5px; /*Отстояние 5 пиксела от текста до рамката на елемента.*/
    }
    /*Прилагаме за поделемента link следните характеристики.*/
    item link {
       display:block; /*Блоково представяне.*/
       background-color: orange; /*Цвят на фона - оранжев.*/
       color: blue; /*Цвят на текста - син.*/
       margin: 5px; /*Отстояние 5 пиксела отвън елемента.*/
       padding: 5px; /*Отстояние 5 пиксела от текста до рамката на елемента.*/
       font-size: 11px; /*Големина на шрифта - 11 пиксела.*/
       text-indent: 20px; /*Прилагаме отместване на първия ред на текста с 20 пиксела навътре.*/
    }
 }