/*Делим на три части дадения ни css файл.*/
/*Част 1.*/
p {
    color:#000066;
    background-color:white;
    text-indent:.5in;
    line-height:1.5
 }
 p a {
    font-size:30px;
    color:black;
    background-color:#FFFFCC;
 }
 .quote {
    color:#000066;
    background-color:white;
    font-size:11pt;
    font-style:italic;
    line-height:normal
 }